/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #EA6D27;
  --dark-color: #101A24;
  --light-dark: #5C6574;
  --white-color: #ffffff
  // Shadow
  --shadow: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
  /*========== Font and typography ==========*/
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.25rem;
    --h2-font-size: 2.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.svg__color {
  fill: var(--first-color);
}
.svg__blob {
  fill: var(--first-color-light);
}
.svg__img {
  width: 300px;
  justify-self: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--primary-font);
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--dark-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 1em 2em;
  color: var(--white-color);
  border-radius: 10px 0 10px 0;
  border: none;
  color: #FFF;
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
  font-style: normal;
  font-weight: 500;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-primary {
  background: var(--first-color);
}

.btn-secondary {
  background: var(--dark-color);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.5s auto;
}
.header .brand__logo img {
  width: 100px;
}
.header .nav__link {
  color: #101A24;
  font-family: var(--secondary-font);
  font-size: var(--normal-font-size);
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */