/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --primary-color: #EA6D27;
  --secondary-color: #101A24;
  --light-dark: #5C6574;
  --white-color: #ffffff;
  --dark-color: #000000;
  --shadow: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
  /*========== Font and typography ==========*/
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --biggest-font-size: 2.5rem;
  --h2-font-size: 2.125rem;
  --h3-font-size: 1rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.25rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3em 0;
}
.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-1);
}

.svg__color {
  fill: var(--first-color);
}
.svg__blob {
  fill: var(--first-color-light);
}
.svg__img {
  width: 300px;
  justify-self: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--primary-font);
  padding: 0 auto;
}

h1, h2, h3, h4 {
  font-weight: var(--font-bold);
  color: var(--dark-color);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: var(--biggest-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h4 {
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-row-center {
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  background: var(--first-color);
}

.btn-secondary {
  background: var(--dark-color);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.5s auto;
  margin: 1em auto;
}
.header .brand__logo img {
  width: 100px;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background: #ccc;
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 2rem;
    z-index: var(--z-fixed);
    transition: 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
}
.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show-menu {
  top: calc(var(--header-height) + 1rem);
}

.btn {
  padding: 1em 1em;
  color: var(--white-color);
  border-radius: 10px 0 10px 0;
  filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}
.btn__primary {
  background-color: var(--primary-color);
}
.btn__primary:hover {
  background: var(--white-color);
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
}
.btn__secondary {
  background-color: var(--secondary-color);
}
.btn__secondary:hover {
  background: var(--white-color);
  color: var(--primary-color);
  border: 1.5px solid var(--dark-color);
}
.btn__header {
  display: none;
}

@media screen and (min-width: 360px) {
  .section {
    padding: 3.5rem 0 1rem;
  }
  .change-theme {
    position: absolute;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .special__dishes .section .dish {
    flex-direction: row;
    flex: 1 0 40%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 80%;
  }
  .nav .btn__header {
    display: block;
  }
  .special__dishes .section .dish {
    flex-basis: 20%;
  }
}
.expert {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
.expert__detail {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.expert__detail p {
  margin-bottom: 1em;
  max-width: 300px;
}
.expert__detail .chef__qualities {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.expert__detail .chef__qualities__item {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.expert__detail .chef__qualities__item .quality {
  display: flex;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.expert__detail .chef__qualities__item .quality img {
  width: 24px;
  height: 24px;
}
.expert__detail__btn {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.expert__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expert__img .img__container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expert__img .img__container img {
  width: 80%;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}
.hero__left {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  margin: 0 auto 2em;
}
.hero__left h1 {
  font-size: var(--biggest-font-size);
  font-style: normal;
  font-weight: 700;
}
.hero__left p {
  max-width: 80%;
  margin-bottom: 0.875em;
  color: #5C6574;
  font-family: "Inter";
  font-size: var(--h3-font-size);
  font-style: normal;
  font-weight: 400;
}
.hero__btn {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.hero__socials {
  display: flex;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.hero__socials__item {
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hero__socials__item i {
  font-size: var(--h3-font-size);
}
.hero__right {
  border-radius: 20px 10px 20px 10px;
}
.hero__right__img {
  width: 70%;
  position: relative;
  margin: 2em auto;
}
.hero__right__img .main-image {
  width: 100%;
}
.hero__right__img .vector_1,
.hero__right__img .vector_2,
.hero__right__img .vector_3 {
  width: 40%;
  position: absolute;
  color: rgb(154, 162, 170);
}
.hero__right__img .vector_1,
.hero__right__img .vector_2,
.hero__right__img .vector_3 {
  opacity: 0.5;
  z-index: -1;
}
.hero__right__img .vector_1 {
  top: -100px;
  left: -20%;
}
.hero__right__img .vector_2 {
  top: -150px;
  right: -15%;
}
.hero__right__img .vector_3 {
  bottom: -100px;
  right: -20%;
}
.hero__right__img .side_dish {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: -50px;
}

.special__dishes {
  background: #e6eaef;
}
.special__dishes .section .special__dishes__text {
  margin-bottom: 10em;
  text-align: center;
}
.special__dishes .section .special__dishes__text h1 {
  font-size: var(--biggest-font-size);
}
.special__dishes .section .special__dishes__text p {
  margin: 0 auto;
  max-width: 256px;
  font-size: var(--normal-font-size);
}
.special__dishes .section .dish {
  width: 80%;
  margin: 0 auto;
  display: grid;
  display: flex;
  flex-direction: column;
}
.special__dishes .section .dish__item {
  text-align: center;
  padding: 8em 1.5em 3.125em;
  width: 265px;
  border-radius: 40px 10px 40px 10px;
  border: 1px solid var(--white-color);
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto 8em;
}
.special__dishes .section .dish__item h3 {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25em;
}
.special__dishes .section .dish__item p {
  font-size: var(--normal-font-size);
}
.special__dishes .section .dish__item__img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -40%;
}
.special__dishes .section .dish__item__img .dish__price {
  position: absolute;
  top: 30%;
  right: 20px;
  margin: auto 0;
  border-radius: 50%;
  background: var(--dark-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}
.special__dishes .section .dish__item:hover {
  background: var(--white-color);
}
.special__dishes__welcome__detail {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 0 auto;
}
.special__dishes__welcome__detail p {
  width: 80%;
  margin-bottom: 2em;
}
.special__dishes__welcome__detail .welcome__btn {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.special__dishes__welcome__img .img {
  width: 90%;
  position: relative;
}
.special__dishes__welcome__img .img .main-img {
  width: 100%;
}
.special__dishes__welcome__img .img .leaf_1,
.special__dishes__welcome__img .img .leaf_2,
.special__dishes__welcome__img .img .leaf_3,
.special__dishes__welcome__img .img .leaf_4 {
  position: absolute;
  z-index: 5;
  width: 30%;
}
.special__dishes__welcome__img .img .leaf_1 {
  top: 5rem;
  left: 0;
  width: 15%;
}
.special__dishes__welcome__img .img .leaf_2 {
  bottom: 1rem;
  left: 2rem;
}
.special__dishes__welcome__img .img .leaf_3 {
  right: -1rem;
  top: 2.5rem;
}
.special__dishes__welcome__img .img .leaf_4 {
  bottom: 2.5rem;
  right: 6rem;
  width: 15%;
}

.footer {
  position: relative;
}
.footer .newsletter {
  position: absolute;
  width: 90%;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -50px;
  text-align: center;
}
.footer .newsletter img {
  width: 100%;
  border-radius: 10px;
}
.footer .newsletter h2 {
  max-width: 70%;
  font-size: 12px;
  position: absolute;
  color: var(--white-color);
  top: 1em;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.footer .newsletter .subscribe {
  position: absolute;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0.8em;
  background: var(--white-color);
  padding: 0.5em;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.footer .newsletter .subscribe input {
  outline: none;
  border: none;
  background: none;
}
.footer .newsletter .subscribe button {
  border: none;
  border-radius: 5px;
  font-size: 10px;
  padding: 0.7em;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin-bottom: 1em;
}
.footer__menu__about {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
.footer__menu__about img {
  width: 50%;
}
.footer__menu__about__time .category__container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.footer__menu__about__time h3 {
  margin-bottom: 1em;
}
.footer__menu__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__menu__socials {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.footer__bottom__terms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
}

.change-theme {
  right: 1.5em;
  top: 1.1em;
  color: var(--dark-color);
  font-size: 1.8em;
  cursor: pointer;
}

/* ================= Testimonials ======================== */
.testimonials {
  background: #e6eaef;
  padding-bottom: 10em;
}
.testimonials .section .details {
  text-align: center;
  margin-bottom: 7.5em;
}
.testimonials .section .details h2 {
  font-size: 1.75em;
}
.testimonials .section .details p {
  max-width: 300px;
}
.testimonials .section .testimonial__container .testimonial__detail {
  position: relative;
  background: var(--white-color);
  width: 320px;
  border-radius: 40px 12px 40px 12px;
  max-width: 500px;
  padding: 4em 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.testimonials .section .testimonial__container .testimonial__detail .testimonial__img {
  position: absolute;
  right: 50%;
  margin: 0 auto;
  top: -50px;
}
.testimonials .section .testimonial__container .testimonial__detail .testimonial__img img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.testimonials .section .testimonial__container .testimonial__detail .star {
  margin-bottom: 2.375em;
  color: var(--primary-color);
}
.testimonials .section .testimonial__container .testimonial__detail p {
  width: 260px;
  margin-bottom: 2em;
}/*# sourceMappingURL=styles.css.map */