// ======================================== BASE ================================
* ,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0 ;
    font-family: var(--primary-font);
}

h1,h2,h3 {
    font-weight: var(--font-semi-bold);
    color: var(--dark-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



// ==============================REUSEABLE CONTENT ====================================

.flex
{
    display: flex;

    &-column{
        flex-direction: column;
    }

    &-row {
        flex-direction: row;

        &-center {
            align-items: center;
            justify-content: space-between;
        }

    }
    
}

.btn-primary{
    background: var(--first-color);
}

.btn-secondary{
    background: var(--dark-color);
}